@import 'config';
 
.main{
    padding: 1.5rem 2rem;
    // text-align: center;
    font-family: 'Open Sans', sans-serif;
    & .cont{
        display: grid;
        gap: 6rem;
        & .cotainer{
            display: grid;
            height: 100%;
        }

    }
   
    & .title{
        // text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .4rem;
        text-align: center;
        margin: 2rem 0;
        font-weight: 300s;
        color: #ebc070;
        color: #FFE6FF;
        letter-spacing: .9px;
    }
    & video{
        box-shadow: 0px 0px 10rem rgba(255, 166, 0, 0.315), 0px 0px 3.4rem purple; /* Orange box shadow for videos */
        box-shadow: 0px 0px 6rem #d8b0d870, 0px 0px 3.4rem purple; /* Orange box shadow for videos */
        width: 100%;
        border-radius: .9rem .9rem 0 0;
        // border: solid 1px #D8B0D8;
        border: solid 1px $bg-color;
    }

    & .description{
        background-color: $bg-color;
        box-shadow: 0px 0px 4px $light-color;
        text-align: center;
        // margin-top: 1.5rem;
        padding: 1.3rem .7rem;
        & .minTitles{
            // background-color: rgb(230, 54, 230);
            color: #F2E5F2;
            // color: $bg-color;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1.5rem;
            padding: .3rem .5rem;
            text-transform: capitalize;
            // margin-top: -2rem;
        }
        & .projectDesc{
            color: #D8B0D8;
            text-transform: capitalize;
            line-height: 1.8rem;
        }

        & .links{
            z-index: 0;
            @include flex;
            justify-content: center;
            gap: 1.6rem;
            margin-top: 1rem;
            & .demo{
                color: #FFE6FF;
                background-color: rgb(230, 54, 230);
                border: solid 1px rgb(230, 54, 230);
                &:hover{
                    color: $light-color;
                    background: none;
                    border: solid 1px $light-color;
                }
            }

            & .code{
                color: $light-color;
                border: solid 1px $light-color;

                &:hover{
                    background-color: rgb(230, 54, 230);
                    border: solid 1px rgb(230, 54, 230);

                    color: #FFE6FF;
                }
            }
        }
    }
};

@media(min-width: 600px){
    .main{
        width: 80%;
        margin: 0 auto;
    }
}


@media(min-width:900px){
    .main{
        margin: 0 auto;
        & .title{
            margin-bottom: 4rem;
        }
        & .cont{
            gap: 6rem;
        }
        & .cotainer{
            margin-top: 1.5rem;
            display: grid;
            grid-template-columns:  auto 54%;
            align-items: center;
            gap: 5rem;
            // margin: 0 auto;
            
            & .video{
                width: 110%;
                grid-area: 1/2/2/3;
                height: fit-content;
                padding: .8rem 1rem;
                background: linear-gradient(to right,rgba(222, 33, 222, 0.58),rgba(244, 181, 64, 0.734),purple);
                
            }
            & .description{
                text-align: left;
                margin: 0;
                box-shadow: none;
                background: none;
                grid-area: 1/1/2/2;

              

                & .minTitles{
                    background: none;
                    margin: 0 0 .5rem 0;
                    font-size: 1.5rem;
                    justify-content: flex-start;

                }
                & .projectDesc{
                    line-height: 1.9rem;
                    margin-bottom: .7rem;
                }
                & .links{
                    justify-content: flex-start;
                }
            }

            & video{
                box-shadow: 0px 0px 10rem #d8b0d870, 0px 0px 10rem purple; 
                // width: 50%;
            }


            & .leftSideVideo{
                grid-area: 1/1/2/2;
                width: 110%;
            }
            & .leftSideDescr{
                grid-area: 1/2/2/3;
                margin-left: 3rem;
                width: 90%;
                
            }
        }
       
    }

}

@media(min-width: 1000px){
    .main{
        // margin: 2rem auto;
        // width: 96%;
        & .video{
            width: 100%;
            height: 100%;
        }
        & .description{
            & .minTitles{
                font-size: 3rem;
            }
        }
       
    }
}