.thankspage{
    text-align: center;
    text-transform: capitalize;
    color: rgb(236, 166, 36);
    padding: .3rem;
    font-family: monospace;
    margin-top: 1rem;
    transition: .3 ease-in-out;
}